* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  background-color: grey;
}

.headerMenu {
  background-color: #00b9ed;
  height: 40px;
  border-bottom: 0px;
  padding-left: auto;
  padding-right: auto;
  width: 100% px;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #00b9ed;
  height: 40px;
}

.menuBar {
  margin-left: 800px;
  padding-top: 12px;
  background-color: #00b9ed;
}

.menuBar a {
  margin-right: 20px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  background-color: #00b7dc;
  background: #00b7dc;
  height: 30px;
}

.menuBar a:hover {
  color: aqua;
}

#selectedMenu {
  color: black;
}

.profile-pic {
  cursor: pointer;
  margin-left: 50px;
  margin-top: 50px;
}
